/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    overflow: hidden; /* Para asegurarse de que el contenido no se desborde */
}

h1 {
    margin-top: 0;
}

form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input {
    flex: 1;
    margin-right: 10px;
    
}

.team-list-container {
    max-height: 150px; /* Ajusta la altura según sea necesario */
    overflow-y: auto; /* Hace que la lista sea desplazable */
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    background-color: #eee;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#fixtures {
    margin-top: 20px;
}

.fixture {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f8f8;
    margin-bottom: 10px;
    border-radius: 4px;
}

.fixture p {
    margin: 0;
    flex: 1;
}

.fixture input {
    width: 50px;
    margin-left: 10px;
}

#points {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 10px;
    border: 1px solid #ddd;
}

td:nth-child(1) {
    text-align: left;
}

td:nth-child(2) {
    text-align: right;
}

@media only screen and (max-width: 575px)
 {
    .container {
        padding: 10px;
    }

    form {
        flex-direction: column;
    }

    input {
        margin-top: 10px;
        margin-right: 0;
        margin-bottom: 10px;
        padding: 10px;
    }
     button {
        width: 100%;
    }

}
